@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

#display {
    background-color: transparent;
}

#cart-tab {
    height: 100vh;
    width: 428px;
    background-color: #18181B;
    display: flex;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

#cart-tab-item-counter {
    font-size: 24px;
    display: flex;
}

#cart-tab-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3F3F46;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #18181B;
    position: fixed;
    width: 428px;
    top: 0;
    box-sizing: border-box;
}

#cart-tab-exit {
    height: 2rem;
    width: 2rem;
}

#cart-tab-exit-button {
    font-size: 24px;
    height: 100%;
    width: 100%;
    background-color: #18181B;
    border-style: none;
    color: #A1A1AA;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}

#cart-tab-exit-button:hover {
    cursor: pointer;
}

#cart-tab-items {
    margin-top: 5rem;
    margin-bottom: 204px;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3F3F46 black;
}

#cart-tab-footer {
    height: 204px;
    padding: 2rem;
    border-top: 1px solid #3F3F46;
    position: fixed;
    width: 428px;
    background-color: #18181B;
    bottom: 0;
    box-sizing: border-box;
}

#cart-tab-total-value {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#cart-tab-add-coupon {
    float: right;
    color: #A855F7;
    padding: 0.5rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;
    height: 1rem;
}

#cart-tab-add-coupon button {
    border: none;
    font-size: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: #A855F7;
    margin-left: 0.5rem;
}

#cart-tab-add-coupon button:hover {
    transition: 500ms;
    color: #C084FC;
}

#cart-tab-checkout {
    width: 100%;
    margin-top: 3rem;
}

#cart-tab-checkout button {
    height: 4rem;
    width: 100%;
    background-color: #9333EA;
    color: #F9FAFB;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

#cart-tab-checkout button:hover {
    transition: 500ms;
    background-color: #A855F7;
}

.prim-txt-color {
    color: #F9FAFB;
}

.sec-txt-color {
    color: #E4E4E7;
}

.cart-item-area {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    height: 100px;
}

.cart-item-img-area img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.cart-item-info {
    padding-left: 1.5rem;
    flex-grow: 1;
    min-width: 0;
}

.cart-item-title p {
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    text-align: justify;
}

.cart-item-footer {
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.cart-item-price p {
    font-weight: bold;
    line-height: 40px;
}

.cart-item-controls {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.cart-item-decrease-qty button {
    border: 2px solid #3F3F46;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: #A855F7;
    font-size: 1.5rem;
}

.cart-item-quantity p {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.cart-item-increase-qty button {
    border: 2px solid #A855F7;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: #A855F7;
    font-size: 1.5rem;
}

.cart-item-increase-qty:hover button {
    transition: 500ms;
    cursor: pointer;
    background-color: #A855F7;
    color: #F9FAFB;
}

.cart-item-decrease-qty:hover button {
    transition: 500ms;
    cursor: pointer;
    border-color: #A855F7;
    color: #F9FAFB;
}
