.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181B;
}

.signup-form {
    background-color: #222;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 350px;
    color: white;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
}

.signup-form input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 1.5rem;
    line-height: 1rem;
    font-size: 1rem;
    background-color:#18181B;
    color: white;
}

.signup-form button {
    margin-top: 1rem;
    padding: 14px;
    background-color: #9333EA;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signup-form button:hover {
    transition: 500ms;
    background-color: #A855F7
}

.signup-login-option {
    margin-top: 1rem;
    color: white;
}

.signup-login-option p {
    float: right;
}

.signup-login-option a {
    color: #9333EA;
    text-decoration: none;
    font-weight: bold;
}

.signup-login-option a:hover {
    color: #A855F7;
}