@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

button {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

#store-container {
    margin-top: 6rem;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
}

#store-navbar {
    top: 0;
    position: fixed;
    background-color: #18181B;
    height: 6rem;
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#store-menu {
    margin-left: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#store-menu button {
    padding-top: 3px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #9333EA;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
}

#store-menu button:hover {
    background-color: #A855F7;
}

#store-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A855F7;
    margin-right: 0.5rem;
}

#store-logo-name {
    display: flex;
}

#store-name {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-style: italic;
}

#products-section {
    padding: 0.5rem;
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

#cart-button {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

#cart-button button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #9333EA;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

#cart-button button:hover {
    transition: 500ms;
    background-color: #A855F7;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.product-area {
    margin: 0.5rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-area:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    margin-top: 0.5rem;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.product-info {
    padding: 1rem 1rem 0rem 1rem;
}


.product-name p {
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    text-align: justify;
}

.product-price {
    display: block;
    width: 50%;
    height: 3rem;
}

.product-price p {
    color: #00a500    ;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 8px;
}

.product-price h5{
    color: #ff0000;
    text-decoration: line-through;
}

.product-add-to-cart {
    box-sizing: border-box;
    width: 30%;
}

.product-add-to-cart button {
    background-color: #A855F7;
    font-size: 1rem;
    color: white;
    height: 3rem;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-add-to-cart button:hover {
    border-bottom: 4px solid #9333EA;
}

.product-price-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
